echo "# esp32-mx7219-clock" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/rama6cp/esp32-mx7219-clock.git
git push -u origin main
